In [1]:
from sklearn import svm, metrics

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
import matplotlib.pyplot as plt

In [4]:
import pandas as pd

In [8]:
tbl = pd.read_csv("../Python_CJ_ST_COPY/dataset/bmi.csv")

In [6]:
pwd

'C:\\Users\\cj\\Python CJ_Practice'

In [9]:
tbl.head(5)

   height  weight   label
0     140      45  normal
1     145      72     fat
2     150      61     fat
3     137      56     fat
4     192      48    thin

In [10]:
label = tbl["label"]

In [12]:
height = tbl["height"]/200

In [13]:
weight = tbl["weight"]/100

In [16]:
features = pd.concat([height, weight], axis =1)

In [17]:
features.head(5)

   height  weight
0   0.700    0.45
1   0.725    0.72
2   0.750    0.61
3   0.685    0.56
4   0.960    0.48

In [18]:
data_train, data_test, label_train, label_test = \
train_test_split(features, label, test_size = 0.3)

In [19]:
print(len(features))
print(len(data_train))
print(len(data_test))

20000
14000
6000

In [20]:
model = svm.SVC()
model.fit(data_train, label_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [25]:
# 데이터 예측하기 --- (※5)
predict = pd.DataFrame(model.predict(data_test))
print(predict.size)
predict.head()

6000

        0
0     fat
1    thin
2  normal
3     fat
4    thin

In [26]:
predict.head(5)

        0
0     fat
1    thin
2  normal
3     fat
4    thin

In [27]:
r = pd.concat([data_test.reset_index(drop=True), label_test.reset_index(drop=True), predict.reset_index(drop=True)], axis = 1)
r.to_csv("d:/result_bmi.csv")
print(len(r))
print(r.head())

6000
   height  weight   label       0
0   0.645    0.60     fat     fat
1   0.840    0.37    thin    thin
2   0.655    0.39  normal  normal
3   0.735    0.58     fat     fat
4   0.990    0.38    thin    thin

r = pd.concat([data_test.reset_index(drop=True), label_test.reset_index(drop=Ture), predict.reset_index], axis=1)

In [28]:
r.head(5)

   height  weight   label       0
0   0.645    0.60     fat     fat
1   0.840    0.37    thin    thin
2   0.655    0.39  normal  normal
3   0.735    0.58     fat     fat
4   0.990    0.38    thin    thin

In [30]:
r.columns = ['height', 'weight', 'label', 'label_predicted']

In [31]:
r.head(5)

   height  weight   label label_predicted
0   0.645    0.60     fat             fat
1   0.840    0.37    thin            thin
2   0.655    0.39  normal          normal
3   0.735    0.58     fat             fat
4   0.990    0.38    thin            thin

In [32]:
r.to_csv ("d:/bmi.csv")

In [33]:
ac_score = metrics.accuracy_score(label_test, predict)
cl_report = metrics.classification_report(label_test, predict)

print("정답률 =", ac_score)
print("리포트 =\n", cl_report)

정답률 = 0.9856666666666667
리포트 =
              precision    recall  f1-score   support

        fat       1.00      0.99      0.99      2359
     normal       0.96      1.00      0.98      1708
       thin       1.00      0.98      0.99      1933

avg / total       0.99      0.99      0.99      6000