In [2]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as pyt

In [3]:
%matplotlib inline

In [4]:
studentData = pd.read_csv("../Python_CJ_ST_COPY/dataset/student_middle.csv")

In [5]:
studentData.head(5)

     NAME  SW  DB  AND
0  ST0001  95  30    0
1  ST0002  50  50    0
2  ST0003  15  30   15
3  ST0004  90  50   20
4  ST0005  75  20   20

In [6]:
name = studentData["NAME"]

In [14]:
features = studentData[["SW","DB","AND"]]

In [15]:
model = KMeans(n_clusters=2, algorithm='auto')

model.fit(features)

In [16]:
model.fit(features)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [21]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []