In [1]:
from sklearn import svm, metrics
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
pwd

'C:\\Users\\cj\\Python CJ_Practice'

In [3]:
cst = pd.read_csv("../Python_CJ_ST_COPY/dataset/customer.csv")

In [4]:
cst.head(5)

      deposit     stock    label
0  1400000000  45000000   normal
1  1450000000  72000000  diamond
2  1500000000  61000000  diamond
3  1370000000  56000000   normal
4  1920000000  48000000  diamond

In [5]:
label = cst['label']

In [6]:
deposit = cst['deposit']

In [7]:
stock = cst['stock']

In [54]:
features = pd.concat([deposit, stock], axis = 1)

In [9]:
deposit.dtypes

dtype('int64')

In [10]:
cst.head(5)

      deposit     stock    label
0  1400000000  45000000   normal
1  1450000000  72000000  diamond
2  1500000000  61000000  diamond
3  1370000000  56000000   normal
4  1920000000  48000000  diamond

In [52]:
cst[['deposit', 'stock']] = cst[['deposit', 'stock']].astype('float64')

In [53]:
features = pd.concat([deposit, stock], axis=1)

In [14]:
cst.dtypes

deposit    float64
stock      float64
label       object
dtype: object

In [19]:
features.head(5)

      deposit     stock
0  1400000000  45000000
1  1450000000  72000000
2  1500000000  61000000
3  1370000000  56000000
4  1920000000  48000000

In [46]:
# 학습 전용 데이터와 테스트 전용 데이터로 나누기 --- (※3)
data_train, data_test, label_train, label_test = train_test_split(features, label, test_size = 0.3)

# 데이터 학습하기 --- (※4)
model = svm.SVC()
model.fit(data_train, label_train)

# 데이터 예측하기 --- (※5)
predict = pd.DataFrame(model.predict(data_test))
print(predict.size)
predict.head()

r = pd.concat([data_test.reset_index(drop=True), label_test.reset_index(drop=True), predict.reset_index(drop=True)], axis = 1)
r.head(5)

6000

      deposit     stock    label        0
0  1840000000  78000000      vip      vip
1  1550000000  66000000  diamond  diamond
2  1560000000  73000000  diamond  diamond
3  1980000000  65000000      vip      vip
4  1350000000  53000000   normal   normal

In [44]:
r.to_csv("D:customer.csv")

In [47]:
# 결과 테스트하기 --- (※6)
ac_score = metrics.accuracy_score(label_test, predict)
cl_report = metrics.classification_report(label_test, predict)

print("정답률 =", ac_score)
print("리포트 =\n", cl_report)

정답률 = 0.9895
리포트 =
              precision    recall  f1-score   support

    diamond       0.98      1.00      0.99      3498
     normal       1.00      0.98      0.99      1755
        vip       1.00      0.97      0.98       747

avg / total       0.99      0.99      0.99      6000

         0
0  diamond
1  diamond
2   normal
3  diamond
4  diamond

In [41]:
r = pd.concat([data_test.reset_index(drop=True), label_test.reset_index(drop=True), predict.reset_index(drop=True)], axis = 1)

In [42]:
r.head(5)

      deposit     stock    label        0
0  1990000000  78000000      vip  diamond
1  1780000000  76000000      vip  diamond
2  1780000000  49000000  diamond   normal
3  1300000000  37000000   normal  diamond
4  1300000000  36000000   normal  diamond

In [48]:
ac_score = metrics.accuracy_score(label_test, predict)
cl_report = metrics.classification_report(label_test, predict)

print("정답률 =", ac_score)
print("리포트 =\n", cl_report)

정답률 = 0.9895
리포트 =
              precision    recall  f1-score   support

    diamond       0.98      1.00      0.99      3498
     normal       1.00      0.98      0.99      1755
        vip       1.00      0.97      0.98       747

avg / total       0.99      0.99      0.99      6000